body {
	margin: 0;
	padding: 0;
	width: 100%;
}
.sun-container {
	position: fixed;
	z-index: 100;
	margin: 10px 0 0 10px;
}

#sun {
	height:200px;
	width: 200px;
	background-image: url("my-face.JPG");
	background-size: cover;
	border-radius: 100%;
	border: 7px solid;
	border-color: #E3754A;
}

.slide {
	text-align: center;
	display: block;
}

.container {
	margin: 0 auto;
	max-width: 75%;
}
#header {
	background-color: rgba(2,3,4,.4);
	position: relative;
	padding-bottom: 50px;
}

#header h1 {
	padding: 190px 0 0 0;
	font-size: 5em;
	margin: 0;
}

#header p {

}

h1 {
	font-size: 5em;
	padding-top: 50px;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	color: white;
	text-shadow: -1px 2px black, 0 1px black, 1px 0 black, 0 -1px black;
}

.container > hr {
	background: rgba(255,255,255,0.2) no-repeat scroll center;
	width: 50%;
	height: 2px;
}

#projects {
	background-color: #E3BB92;
}
.project {
	display: inline-block;
	
}